@import "~styles/root";

.app-todo {
  padding: 32px;
  border: 1px solid #707070;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: $primary-color;
  }
  &__title {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 32px;
    display: block;
    color: $secondary-color;
    margin-top: 18px;
  }
  &__body {
    font-family: "Raleway";
    font-size: 20px;
    text-indent: 24px;
    color: $secondary-color;
    text-align: center;
  }
  &__edit {
    padding-left: 10px;
  }
}
